.donation-form{
  height: 50px;
}
.input-box{
  border: 1px solid $slate-60;
  height: $xl-size;
  padding: $s-size;
  font-size: $font-size-large;
  font-weight: 800;
  border-radius: 8px 8px;
  width: 100%;
  @media (max-width: $mobile-breakpoint) {

    height: 4rem;
  }
}

.input-error{
  border: 2px solid #f56e94 !important;
  outline: none;
}

.donate-button{
  position: relative;
  height: 48.5px;
  bottom: 48px;
  left: 178px;
  background-color: $mint;
  color: $ocean-20;
  border: none;
  padding: 13px;
  font-size: $font-size-large;
  font-weight: bold;
  border-radius: 0 8px 8px 0;
  @media (max-width: $mobile-breakpoint) {
    height: 40px;
    bottom: 40px;
    left: 120px;
    font-size: $m-size;
  }
}

.input-dollar {
  position: relative;
  color: $slate-60;
}
.input-dollar.left input {
  padding: 10px 0 10px 18px;
}

.input-dollar:before {
  position: absolute;
  bottom: -4px;
  content:"$";
}
.input-dollar.left:before {
  left: 5px;
}

.errors{
  color: #f56e94;
  font-size: $s-size;
  @media (max-width: $mobile-breakpoint) {
    font-size: 1rem;
  }
}