.card-header{
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  @media (max-width: $mobile-breakpoint) {
    font-size: 1.5rem;
  }
}
.donor-message{
  margin-bottom: $s-size;
  @media (max-width: $mobile-breakpoint) {
    font-size: 10px;
  }
}